name: melodium-ci

on:
  push:

jobs:
  melodium:
    uses: melodium-tech/github-actions/.github/workflows/melodium-local-distrib.yml@master
    with:
      version: 0.9.2
      command: |
        run Compo.toml --api_token "\"$MELODIUM_TOKEN\"" --input_sql '"mock.sql"' --sql_query '"SELECT * FROM users"' --output_directory '"output"' --github_status 'true' --github_project '${{ toJSON(github.repository) }}' --github_sha '${{ toJSON(github.sha) }}' --github_token "\"$GITHUB_TOKEN\""
      artifact-path: 'logs/'
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      melodium-token: ""
    permissions:
      statuses: write